.Navbar-upperLine {
  height: 40px;
  border-bottom: 1px solid #eee;
}
.Navbar-upperLine__icons {
  width: 100%;
  height: 100%;
  line-height: 35px;
  text-align: right;
}
.Navbar-upperLine__icons > a {
  text-decoration: none;
  margin-left: 15px;
  color: #818181;
  text-transform: uppercase;
}
.Navbar-upperLine__text {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  display: inline-block;
  transform: translateY(1px);
}
.Navbar-logo {
  width: 100%;
  height: 130px;
  text-align: center;
  border-bottom: 1px solid #eee;
  padding-top: 30px;
  color: #818181;
  text-transform: uppercase;
}
.Navbar-logo__img {
  width: 200px;
  height: auto;
}
.Navbar-nav {
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-bottom: 1px solid #eee;
}
.Navbar-nav__menu {
  font-family: 'Montserrat', sans-serif;
  color: #767676 ;
  text-transform: uppercase;
  margin: 0 20px;
}
.Navbar-nav__menu:hover {
  transition: all 0.3s;
  color: #ff0000;
  border-bottom: 1px solid #ff0000;
  padding-bottom: 2px;
}