body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  box-sizing: border-box;
}
.container {
  max-width: 1270px;
  height: auto;
  margin: 0 auto;
  padding: 0 15px;
}
